services:
  gopizza_mongo:
    image: mongo:7
    container_name: gopizza_mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: gopizza
    ports:
      - "27027:27017"
    volumes:
      - gopizza_mongo_data:/data/db
    networks:
      - gopizza_net

  gopizza_rabbitmq:
    image: rabbitmq:3-management
    container_name: gopizza_rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5677:5672"
      - "15677:15672"
    networks:
      - gopizza_net

networks:
  gopizza_net:
    driver: bridge

volumes:
  gopizza_mongo_data:
